.hero {
    width: 100%;
    min-height: 100vh;
}

.container {
    width: 80%;
    max-width: 1680px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.center {
    justify-content: center;
    align-items: center;
}

.flex-right {
    justify-content: flex-end;
    align-items: center;
}

.column {
    flex-flow: column;
}

.full-width { 
    width: 100%;
}

  .desktop {
      @media only screen and (max-width: 650px) {
          display: none;
      }
  }

  .mobile {
      @media only screen and (min-width: 650px) {
          display: none;
      }
  }