.hero {
    width: 100%;
    min-height: 80vh;
    @media (max-width: 550px) {
        min-height: 90vh;
    }
}

.container {
    width: 80%;
    max-width: 1680px;
    margin: 0 auto;
    @media only screen and (max-width: 680px) {
        width: 90%;
    }
}

.flex {
    display: flex;
}

.center {
    justify-content: center;
    align-items: center;
}

.flex-right {
    justify-content: flex-end;
    align-items: center;
}

.flex-left {
    justify-content: flex-start;
    align-items: flex-start;
}

.column {
    flex-flow: column;
}

.full-width { 
    width: 100%;
}

  .desktop {
      @media only screen and (max-width: 650px) {
          display: none;
      }
  }

  .mobile {
      @media only screen and (min-width: 650px) {
          display: none;
      }
  }

  .js-locomotive {
    position: realtive;
}

.gallery-scroll {
    height: auto;
    flex-flow: column;
    .gallery-content {
        flex-flow: column;
        margin-right: 0;
        width: 100%;
        img {
            max-height: 140vh;
            margin: 40px 0;
            transform: none !important;
            max-width: 100%;
            height: auto;
            &:first-child {
                margin-top: 40px !important;
            }
            &:last-child {
                margin-bottom: 120px;
            }
            &:nth-child(odd) {
                align-self: flex-start;
            }
            &:nth-child(even) {
                align-self: flex-end;
            }
            @media only screen and (max-width: 640px) {
                width: 100%;
                height: auto;
                margin-right: 0;
                margin: 16px 0;
            }
        }
    }
}

.half {
    width: 50%;
}