$scroll-width: 80vw;

.example.horizontal{
  width: $scroll-width;
  height: 100vh;
  display: flex;
  @media only screen and (max-width: 640px) {
    flex-flow: column;
    height: 200vh;
    width: 100%;
  }
}

.example.horizontal .example-section{
  width: 33%;
  display: flex;
  align-items: center;
  @media only screen and (max-width: 640px) {
    width: 100%;
    transform: none !important;
    height: 30%;
  }
}

.example-content{
  display: flex;
  align-items: center;
  height: 100%;
  @media only screen and (max-width: 640px) {
    flex-flow: column;
    justify-content: center;
  }
}

.gallery-scroll {
  height: 100vh;
  display: flex;
  align-items: center;
  @media only screen and (max-width: 640px) {
    flex-flow: column;
    height: 300vh;
    width: 100% !important;
  }
}

.gallery-content{
  display: flex;
  align-items: center;
  width: 90%;
  height: 100%;
  @media only screen and (max-width: 640px) {
    flex-flow: column;
    justify-content: center;
    width: 100%;
  }
}

.gallery-section{
  height: 72%;
  width: 100%;
  @media only screen and (max-width: 640px) {
    width: 100%;
    height: auto;
    margin-top: 80px;
  }
}
