
.example.horizontal{
  width: 500vw;
  height: 100vh;
  display: flex;
}

header{
  padding: 12.5vw 6.25vw;
  h1{
    font-size: 11vw;
    line-height: 1;
    margin: 0;
    color: #000;
  }
}

footer{
  padding: 12.5vw 6.25vw;
  a{
    font-size: 5vw;
    color: #000000;
  }
}

.example-content{
  display: flex;
  // flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: auto;
  height: 100%;
}

.example-big-square{
  width: 50vw;
  padding-top: 50vw;
  background-color: #000;
}

.example-small-square{
  width: 25vw;
  padding-top: 25vw;
  background-color: #000;
}


.example-big-image{
  img{
    width: 100%;
    width: 50vw;
    height: auto;
    display: block;
  }
}

.example.horizontal header{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 12.5vw ;
}

.example.horizontal footer{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 12.5vw ;
  background-color: green;
}

.example.horizontal .example-section{
  width: 100vw;
}

.example.vertical .example-section, .example.vertical footer {
  padding-top: 50vw;
}

.example-fade-text{
  h2{
    font-size: 5vw;
  }
}